@media screen and (max-width: 400px) {
    body {
        font-size: 16px;
        max-width: 400px;

    }
  }

* {
    margin: 0px;
}
body {
    font-family: 'Gilroy', 'Open Sans', Helvetica, sans-serif;
}
.hero > img {
    width: 100%;
    height: 300px;
}
.hero {
    position: relative;
    text-align: center;
}
.hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
}
nav {
    display: flex;
    justify-content: space-between;
    background: black;
    align-items: center;
    padding: 0px 10px 0px 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}
nav img {
    width: 30%
}
nav a {
    text-decoration: none;
    color: white;
}
footer {
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 180px;
    padding: 20px;
}
footer p {
    text-align: center;
    font-size: 12px;
    margin-bottom: 40px;
    width: 70%;
}
.links a {
    text-decoration: none;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}
section {
    padding: 25px;
}

main img {
    width: 40%;
}
.other-products img {
    width: 50%;
}
.project-clicks {
    display: flex;
}
.title-overview, .hi-fi, .quote {
    background:rgba(54, 31, 31, 0.986);
    color: white;
}
.goals, .mvp, .onboarding {
    background: rgba(128, 107, 91, 0.986);
    color: white;
}
.gray {
    background:rgba(206, 203, 201, 0.986)
}
