@media screen and (max-width: 400px) {
    body {
        font-size: 12px;
        max-width: 400px;
    }
  }

* {
    margin: 0px;
}
body {
    font-family: 'Gilroy', 'Open Sans', Helvetica, sans-serif;
}
.hero > img {
    width: 100%;
    margin: 0;
    padding: 0;

}
main {
    margin-top: -5px;
}
.hero {
    position: relative;
    text-align: center;
}
.hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
}
nav {
    display: flex;
    justify-content: space-between;
    background: black;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
}

nav img {
    width: 30%
}
nav a {
    text-decoration: none;
    color: white;
}
footer {
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 180px;
    padding: 20px;
}
footer p {
    text-align: center;
    font-size: 12px;
    margin-bottom: 40px;
    width: 70%;
}
.links a {
    text-decoration: none;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

.other-products img {
    width: 40%;
}
.project-clicks {
    display: flex;
}
.brown {
    background: rgb(48, 28, 28);
    color: white
}
.light {
    background:rgb(110, 81, 81);
    color: white
}
.gray {
    background:rgb(211, 208, 208)
}
.pad {
    padding: 25px;
}
#user-research {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 12px;
}
#user-research div {
    width: 40%;
    padding: 10px;  
}
h3, h1 {
    margin-bottom: 15px;
    font-variant-caps: all-petite-caps
}
.overview-text {
    display: flex;
    justify-content: space-between;

}
.overview-text div {
    width: 40%;
}
#user-flow {
    display: flex;
    flex-direction: row;
}
#flow-img img {
    width: 90%;
}
#user-flow div{
    width: 40%;
}
.concept-pic img {
    width: 90%;
}
.concept-pic h3, p, img {
    margin-bottom: 20px;
}
.onb img {
    width: 95%;
    margin-top: 10px;
}
.hi-fi {
    display: flex;

}
.hi-fi div {
    width: 40%;
}
.hi-fi img {
    width: 80%;
}
